---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Back-end Developer",
    company: "CDV",
    description:
      "Responsable del desarrollo y mantenimiento del módulo de integración de trenes dentro del software de gestión para agencias de viajes.\n" +
        "Integración de APIs de servicios ferroviarios, optimizando la creación y gestión de reservas.\n" +
        "Implementación de pruebas unitarias y de integración siguiendo la metodología Test-Driven Development (TDD).\n" +
        "Aplicación de la arquitectura hexagonal para mejorar la modularidad y mantenibilidad del código.",
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "Oct. 2020 - Nov. 2023",
    title: "Technical Leader",
    company: "Dosfarma",
    description:
      "Dirigí el desarrollo de soluciones completas para comercio electrónico, supervisando el ciclo completo de desarrollo de software.\n" +
        "Gestión de equipos utilizando Scrum, actuando como Scrum Master para asegurar la agilidad y eficiencia del proceso.\n" +
        "Coordinación y análisis de nuevos desarrollos, mejorando continuamente las plataformas de comercio electrónico existentes.\n" +
        "Implementación de mejores prácticas de desarrollo y arquitecturas escalables para soportar el crecimiento empresarial.",
  },
    {
        date: "Abr. 2017 - Oct. 2020    ",
        title: "Desarrollador ecommerce",
        company: "Clave Informatica SL",
        description:
            "Instalación y configuración de sistemas de Ecommerce, optimizando la funcionalidad y experiencia del usuario final.\n" +
            "Configuración dominios y servidores web, garantizando la robustez y seguridad de las plataformas de comercio electrónico.\n" +
            "Coordinación múltiples proyectos de Ecommerce, liderando la planificación y ejecución para cumplir con los objetivos de tiempo y calidad.\n" +
            "Desarrollo y personalización de módulos para PrestaShop, mejorando la integración de funcionalidades específicas y la interacción con bases de datos MySQL y scripts en JavaScript.",
    }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
